<div class="bg-light vh-100">
    <div class="d-flex flex-column align-items-center justify-content-center pt-5">
        <img src="/png-transparent-sacoa-hd-logo-thumbnail-removebg-preview.png" alt="" class="">
        <main class="card shadow p-4" style="max-width: 400px; width: 100%;">
            
            <h1 class="h4 mb-3 text-center">Registrarse</h1>

            <form (ngSubmit)="registro()" #loginForm="ngForm">
            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                id="email"
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="email"
                required
                />
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input
                id="password"
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
                required
                />
            </div>
            <p *ngIf="mensaje" [style.color]="mensajeColor" class="message">{{ mensaje }}</p>
            <!-- Botón -->
            <button type="submit" class="btn btn-primary w-100">
                Entrar
            </button>
            </form>
            <a class="fw-bolder" href="/login">Ya tenes una cuenta? Inicia sesion</a>
        </main>
    </div>
</div>

