<app-navbar></app-navbar>

<div class="contenedor-principal">
  <h1>Bienvenido a Sacoa</h1>

  <h2>Elige a qué juego quieres jugar</h2>
  
  <section class="contenedor-juegos">
    <div class="rejilla-cartas">
      <div class="carta-juego" (click)="irAJuego('juegos/ahorcado')">
        <img src="/ahorcado6.png" alt="Juego 1" class="imagen-juego"/>
        <h3 class="nombre-juego">Ahorcado</h3>
      </div>
      <div class="carta-juego" (click)="irAJuego('juegos/mayor-menor')">
        <img src="/fotoMayorMenor.png" alt="Juego 2" class="imagen-juego" />
        <h3 class="nombre-juego">Mayor o Menor</h3>
      </div>
      <div class="carta-juego" (click)="irAJuego('juegos/preguntados')">
        <img src="/preguntadosFoto.png" alt="Juego 3" class="imagen-juego" />
        <h3 class="nombre-juego">Preguntados</h3>
      </div>
      <div class="carta-juego" (click)="irAJuego('juegos/juego-colores')">
        <img src="/img_juego_colores.jpg" alt="Juego 4" class="imagen-juego" />
        <h3 class="nombre-juego">Juego Colores</h3>
      </div>
    </div>
  </section>
</div>
