.ahorcado-container {
  text-align: center;
  max-width: 600px;
  margin: 2rem auto;
}

.imagen-ahorcado {
  width: 200px;
  margin-bottom: 1rem;
}

.palabra {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
}

.botones-letras {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  justify-self: center;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.keycap {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow:
    inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25),
    0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  .letter {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #e9e9e9;
    font-size: 16px;
    transition: transform 0.1s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: 10px;
    box-shadow:
      -10px -10px 10px rgba(255, 255, 255, 0.25),
      10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
    transition: all 0.1s ease-in-out;
  }

  &:active {
    transform: translateY(2px);
    box-shadow:
      inset -4px 0 4px rgba(0, 0, 0, 0.1),
      inset 0 -4px 4px rgba(0, 0, 0, 0.15),
      0 0 0 2px rgba(0, 0, 0, 0.5),
      5px 10px 15px rgba(0, 0, 0, 0.3);

    &::before {
      top: 5px;
      left: 5px;
      bottom: 11px;
      right: 11px;
      box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 0.15),
        5px 3px 5px rgba(0, 0, 0, 0.1);
    }

    .letter {
      transform: translateY(1px);
    }
  }
}

/* From Uiverse.io by dovatgabriel */ 
.card svg {
  height: 25px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ABA4A4;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 100px;
  width: 500px;
  justify-self: center;
}

.card::before, .card::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.card::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #ABA4A4;
}

.card::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #CC8D8D;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card:hover span {
  opacity: 0;
  z-index: -3;
}

.card:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.card:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.card span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: 'Fira Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.card .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  cursor: pointer;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.card .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
}

.card .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear;
}

.s-button{
  border: none;
  background-color: #CC8D8D;
}




