<app-navbar></app-navbar>

<div class="row g-0 text-center d-flex justify-content-center p-3 mb-2 bg-secondary text-white">
    <h2 class="h2 p-3">Quien soy?</h2>
    <div class="col-sm-6 col-md-3">
        <p class="text-lg-end p-3">Hola, mi nombre es Santiago Amato, tengo 22 años y actualmente estoy estudiando la Tecnicatura en Programación en la Universidad Tecnológica Nacional (UTN), Regional Avellaneda.

        Desde chico me interesó la informática, especialmente entender cómo funcionan las computadoras y cómo procesan la información. Ese interés me llevó a elegir el camino de la programación, un área en la que busco crecer tanto a nivel académico como profesional.
        </p>
    </div>
    <div class="col-6 col-md-4">
        <img class="rounded mx-auto d-block" src="/quiensoy.jpg" alt="">
    </div>
</div>